@import "colors";

.btn_theme {
  background: $primaryColor 0 0 no-repeat padding-box !important;
  color: $whiteColor !important;
  font-size: 13px !important;
  border-radius: 10px;
  -webkit-box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.16);
  width: 150px;
  padding: 11px;
}

.create_btn {
  margin-top: 36px !important;
}

.probe_transactions_btn {
  background: #0d0617;
  border: 1px solid rgb(13, 6, 23);
  font-size: 16px;
  padding: 12px 24px;
  color: $whiteColor;
  &:hover {
    color: $whiteColor;
  }
}

.edit_tank_btn {
  background: $primaryColor;
  font-size: 16px;
  padding: 12px 58px;
  color: $whiteColor;
  &:hover {
    color: $whiteColor;
  }
}

.transactions__btn {
  background: $editSecondColor;
  font-size: 16px;
  padding: 12px 40px;
  color: $whiteColor;
  &:hover {
    color: $whiteColor;
  }
}

.btn_device {
  border: 1px solid $primaryColor !important;
  border-radius: 15px !important;
  text-align: center;
  width: 72%;
}

.primary_btn {
  border: 1px solid !important;
  border-radius: 15px !important;
  text-align: center;
  width: 65%;
  padding: 9px 2px !important;
  color: $primaryColor !important;
}

.details_btn {
  display: inline !important;
  top: 543px;
  left: 1318px;
  // width: 120px;
  height: 40px;
  box-shadow: 0px 3px 6px $buttonColor;
  border: 1px solid $primaryColor !important;
  border-radius: 5px;
  opacity: 1;
  color: $primaryColor !important;
}

.dealers_btn {
  display: inline !important;
  top: 543px;
  left: 1318px;
  width: 120px;
  height: 40px;
  box-shadow: 0px 3px 6px $buttonColor;
  border: 1px solid $greenButtonColor !important;
  border-radius: 5px;
  opacity: 1;
  color: $greenButtonColor !important;
}

.branches_btn {
  display: inline !important;
  top: 543px;
  left: 1318px;
  width: 120px;
  height: 40px;
  box-shadow: 0px 3px 6px $buttonColor;
  border: 1px solid $secondaryButtonColor !important;
  border-radius: 5px;
  opacity: 1;
  color: $secondaryButtonColor !important;
}

.delete_btn {
  display: inline !important;
  top: 543px;
  left: 1318px;
  width: 120px;
  height: 40px;
  box-shadow: 0px 3px 6px $buttonColor;
  border: 1px solid red !important;
  border-radius: 5px;
  opacity: 1;
  color: red !important;
}

.dropbtn {
  border-radius: 50px;
  width: 30px;
  height: 30px;
  // top: -19px;
  position: inherit;
  background: #f7fafc 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #2c28281c;
  color: black;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  
}

.dropdown-content {
  right: 7px;
  top: 60px;
  display: none;
  border-radius: 10px;
  border: 1px solid $primaryColor;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 127px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10000;
}

.dropdown-content a {
  color: $primaryColor;
  padding: 4px 12px;
  text-decoration: none;
  text-align: center;
  display: block;
  &:hover{
    text-decoration: none;
    color: $primaryColor;
  }
}

.show {
  display: block;
}

.dropdown-content button {
  border: none;
  color: $primaryColor;
  width: 100%;
  &:focus {
    outline: none !important;
  }
}
.dropdown-content div {
  border: none;
  color: $primaryColor;
  width: 100%;
  padding-bottom: 5px;
  &:focus {
    outline: none !important;
  }
  &:hover {
    cursor: pointer;
  }
}
.var_btn {
  border: none;
  color: $primaryColor;
  margin-left: 34px !important;
  padding: 4px 12px;
  border-radius: 5px;
  font-size: 17px;
  &:focus {
    outline: none !important;
  }
}

.search_button {
  width: 39px;
  height: 39px;
  background: $primaryColor;
  color: $whiteColor;
  border: none;
}