//Password modal 
.show_update_modal {
    display: block;
}

.hide_update_modal {
    display: none;
}

.update_modal {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 20px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(25, 25, 34, .16);
    z-index: 200;
}

.update_modal_text {
    font-size: 17px;
    text-align: left !important;
}

.update_modal_input {
    border: 1px solid rgb(109, 80, 80) !important;
    padding: 10px;
    width: 100%;
    color: black !important;
    border-radius: 5px;
    margin: 0 auto;
    &::placeholder {
        color: black;
    }
}

.update_modal_actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.update_cancel_button {
    background-color: grey;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
}

.update_submit_button {
    background-color: #27A538;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
}