@import "colors";
@import "passwordModal";
@import "side_nav";
@import "scroll";
@import "ejstable.scss";
@import "paginator.scss";
@import "button";
@import "product_slider.scss";
@import "tank.scss";
@import "editDetailsModal";

* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}
.active_pump_status {
  background: $primaryColor !important;
  cursor: text;
}
.branchName {
  font-size: 20px;
  font-weight: bold;
}

.clearfix {
  overflow: auto;
}
.pumpstatus {
  span {
    color: white !important;
  }
}

.right_div {
  float: right;
}

.left_div {
  float: left;
}
// LOGIN
body {
  height: 100vh;
  overflow-x: hidden;
  font-family: "Nunito", sans-serif;
}
.dropdown-toggle::after {
  border-right: none !important;
  border-bottom: none !important;
  border-left: none !important;
}

* {
  box-sizing: border-box;
}

.page_container {
  height: 100vh;
}

/**** Spinner for outstanding payments and date picker***/

.show_spinner {
  background-color: grey;
  opacity: 0.9;
  z-index: 9000;
  position: fixed;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hide_spinner {
  display: none !important;
}

.payment_section_holder {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 30%;
}

.drop_down_div {
  border: 1px solid $primaryColor;
  border-radius: 5px;
}

/*** Spinner for outstanding payments ends ***/

.image_section {
  padding-top: 23px;
  padding-left: 81px;
  padding-bottom: 20px;
  background-color: $whiteColor;
}
.master_layout_navIcon {
  font-size: 20px !important;
  color: $whiteColor;
}
.image_section_text {
  margin: 0 auto;
  width: 80%;
}

.people_image_holder {
  margin: 0 auto;
  width: 55%;
  margin-bottom: 50px;
}

.manage_text {
  color: $primaryColor;
  font-size: 25px;
  font-weight: bold;
}

.automating_text {
  font-size: 15px;
  color: black;
  text-align: center;
}

.people_image {
  width: 100%;
}

.login_container {
  padding-top: 102px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login_header_text {
  color: $whiteColor;
  font-size: 25px;
  font-weight: bold;
}

.form_holder {
  width: 70%;
  flex-direction: column;
  align-items: center;
}

.form_label {
  color: $whiteColor;
  font-size: 18px;
}

.login_text {
  border: 1px solid $primaryColor;
  border-radius: 5px;
  height: 55px;
  width: 100%;
  padding: 15px;
  color: #2e384d;
  font-size: 15px;
}

.login_button {
  width: 100%;
  border-radius: 5px;
  background-color: $goldColor;
  height: 55px;
  color: $primaryColor;
  font-size: 18px;
  font-weight: bold;
  margin-top: 31px;
}

//Dashboard

.full__row_section {
  margin: 0 auto;
  width: 98%;
}

.dashboard__cards__wrapper {
  display: flex;
}

.dashboard__card .small_card .align-center {
  margin-top: 14px !important;
  margin-left: 8px;
}

.small_card {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 22.8%;
  flex: 0 0 32.4%;
  // -webkit-box-shadow: 0px 3px 6px #0000000d;
  // box-shadow: 0px 3px 6px #0000000d;
  border-radius: 10px;
  opacity: 1;
  background: $whiteColor;
  width: 100%;
  height: 200px;
  margin-right: 15px;
}
.small__card_content_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}
.yellow_text {
  color: #ffbb00;
}
.hundred-percent-height {
  height: 100%;
}
.grey_text {
  color: $greyTextColor;
}
.dashboard__card__header {
  letter-spacing: 0px;
  color: $darkGreyColor;
  opacity: 1;
  font-size: 22px;
  padding-top: 10px;
}
.dashboard__card__header_bottom {
  letter-spacing: 0px;
  color: $darkGreyColor;
  opacity: 1;
  font-size: 31px;
  font-weight: 300;
}

// .dasboard_row {
//   margin: 25px;
// }

.remove_padding-right {
  padding-right: 0px !important;
}
.new_row_section {
  margin: 0 auto;
  width: 97%;
  position: relative;
}
.page_title {
  font-size: 19px;
  color: #666666;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 20px;
  font-weight: 100;
}

.fg-success {
  color: $greenColor;
}

.fg-blue {
  color: $blueColor;
}

.fg-danger {
  color: $redColor;
}

//Resolve Payment and USSD
.center_div {
  background: $whiteColor;
  margin: 0 auto;
  position: relative;
  width: 60%;
  height: 500px;
  -webkit-box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.16);
}
.margin-top-center-div {
  margin-top: 120px;
}
.pattern_sec {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
}

.pad_div {
  padding: 10px;
}

.mail_card .pad_div {
  margin-top: -59px;
  padding: 65px;
}

.tabs__lists {
  list-style-type: none;
  display: inline;
  padding: 15px;
  text-align: center;
  color: $primaryColor;
}

.pay_header {
  color: $primaryColor;
  font-weight: 700;
  font-size: 13px;
  margin-top: 30px;
}

.input_holder {
  margin: 0 auto;
  width: 50%;
}

.form__input {
  background: $whiteColor 0 0 no-repeat padding-box;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  //   border: 1px solid $primaryColor!important;
  width: 80%;
  height: 50px !important;
  outline-width: 0;
}

.form_content {
  margin-right: 56px;
  margin-left: 50px;
}

//VOUCHER MONITOR
.voucher_container {
  height: 231px;
  margin-top: 81px;
}

.banner {
  margin: 0 auto;
}
textarea {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  outline-width: 0;
  padding: 10px;
  height: 100px;
  border-radius: 5px;
  background: rgb(251, 251, 251);
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
}
.input__block {
  input {
    width: 100%;
  }
  select {
    width: 100%;
    height: 100% !important;
  }
  height: 40px;
  border-radius: 5px;
  background: rgb(251, 251, 251);
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
  ::placeholder {
    color: rgb(108, 117, 125) !important;
    opacity: 1;
  }
  input {
    border: none;
    outline: none;
    background: transparent;
    height: 100%;
    outline-width: 0;
    padding: 10px;
  }
}
.ep_card {
  padding: 20px;
  background: white;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
  border-radius: 15px;
}

//BANNER TEMPLATE
.large_card {
  flex: 0 30%;
  border-radius: 10px;
  opacity: 1;
  width: 100%;
  height: 140px;
  background: $primaryColor;
}

.icon_wrapper {
  height: 65px;
  width: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.make-row-hundred-percent {
  height: 100%;
}
.yellow {
  background: #fcd462;
  border-radius: 50%;
}

.inner_border_radius {
  background: #f3f2ff;
  border-radius: 25%;
  height: 50px;
  width: 50px;
}

.label:after {
  content: "*";
}
.remove-padding-left {
  margin-top: 15px;
}
.card_inner_wrapper {
  width: 90%;
  padding-top: 22px;
  margin: 0 auto;
  h3 {
    color: $primaryColor;
    font-size: 20px;
    text-align: left;
    margin-left: 34px;
  }
  P {
    color: $greyTextColor;
    margin-left: 34px;
    margin-top: 16px;
  }
}
.dashboard__card.small_card.align-center {
  margin-top: -14px;
  height: 140px;
}

.margin-top-center-div.ep_card {
  height: auto;
}
.banner-gradient {
  height: 150px;
  border-radius: 15px;
  .title {
    color: white;
  }
}
.hundred-percent-height {
  height: 100%;
}

.card_height {
  height: 336px;
}

.branch_card {
  background: #fff;
  border-radius: 30px;
  opacity: 1;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  margin-top: 10px;
  height: 600px;
  padding: 9px;
  width: 23%;
  &.dashboard_branch_card {
    height: auto;
  }
}

.branch_card {
  .small_card {
    background: #f4edff;
    height: 100%;
    text-align: center;
    width: 100% !important;
  }
  .dashboard__card__header_bottom,
  .dashboard__card__header {
    font-size: 18px;
  }
  .btn_theme {
    width: 248px;
    padding: 11px !important;
    margin-top: 116px !important;
  }
}

.small_card.installed_tank_card {
  height: 182px !important;
}

.installed_card {
  background: #f4edff;
  width: 94%;
  margin-left: 6px;
}

.router_link__text:hover {
  text-decoration: none;
}
p.dashboard__card__header {
  font-size: 17px;
}
.header-three-text {
  color: #290c53;
  font-weight: 600;
}
.card_table_header {
  font-size: 15px !important;
}
.card_table_padding {
  padding: 12px;
}
.card-border {
  border: 1px solid #f4ebeb7d;
}
.card-table-header {
  margin-top: 10px;
}
.grey_text {
  color: grey;
}
.product_details_card {
  width: 100% !important;
  height: auto;
  padding-bottom: 0px;
  // overflow: hidden;
}

small.dashboard__card__header_bottom {
  font-size: 20px;
}
.card--padding {
  // padding: 10px;
}
.title h4 {
  padding-top: 20px;
  padding-left: 29px !important;
  font-size: 17px;
}

.branch_details_font {
  color: $primaryColor;
}

h6.dashboard__card__header {
  font-size: 16px;
}

.border-right {
  margin-top: -17px;
}

.top_section_row {
  background: $whiteColor;
  margin: 0 auto;
  width: 98%;
}
.max-lines {
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  height: 1.8em;
  line-height: 1.6em;
}

.clearfix {
  overflow: auto;
}

.right_div {
  float: right;
}

.left_div {
  float: left;
}

.low_tank_name {
  color: $primaryColor;
}

.vol_sold {
  font-size: 14px;
  padding-right: 20px;
  padding-left: 10px;
  font-weight: 400;
}

.tank__name {
  color: $primaryColor;
  font-size: 18px;
}

.tanks_probe {
  display: flex;
  flex-direction: column;
}

.remove_text_decoration:hover {
  color: $whiteColor;
  text-decoration: none;
}

.bowl {
  position: relative;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.5),
    inset 0 -20px 5px 0 rgba(0, 0, 0, 0.2),
    inset -15px 0 5px 0 rgba(0, 0, 0, 0.1),
    inset 15px 0 5px 0 rgba(0, 0, 0, 0.1);
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    transparent 0%,
    transparent 76%,
    rgba(0, 0, 0, 0.65) 100%
  );
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    transparent 0%,
    transparent 76%,
    rgba(0, 0, 0, 0.65) 100%
  );
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 76%,
    rgba(0, 0, 0, 0.65) 100%
  );
  margin: 20px;
}

.bowl:before {
  overflow: hidden;
  border-radius: 50%;
  content: "";
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.5),
    inset 0 -20px 5px 0 rgba(0, 0, 0, 0.2),
    inset -15px 0 5px 0 rgba(0, 0, 0, 0.1),
    inset 15px 0 5px 0 rgba(0, 0, 0, 0.1);
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    transparent 0%,
    transparent 60%,
    rgba(0, 0, 0, 0.65) 81%,
    black 100%
  );
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    transparent 0%,
    transparent 60%,
    rgba(0, 0, 0, 0.65) 81%,
    black 100%
  );
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.65) 81%,
    #000000 100%
  );
  position: absolute;
  width: 150px;
  height: 150px;
  z-index: 2;
  left: 0px;
}

.bowl:after {
  content: "";
  width: 60px;
  border-radius: 50%;
  height: 5px;
  background: #039be4;
  box-shadow: inset 0 0 10px 0 #000;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 0;
  z-index: 2;
}

.bowl .inner {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    transparent 0%,
    transparent 76%,
    rgba(0, 0, 0, 0.65) 100%
  );
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    transparent 0%,
    transparent 76%,
    rgba(0, 0, 0, 0.65) 100%
  );
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 76%,
    rgba(0, 0, 0, 0.65) 100%
  );
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}

.bowl .inner:before {
  content: "";
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  position: absolute;
  right: 40%;
  top: 60%;
  z-index: 2;
  left: 0px;
}

.bowl .inner:after {
  content: "";
  width: 20px;
  height: 40px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  position: absolute;
  right: 30%;
  top: 15%;
  transform: rotate(-20deg);
  z-index: 2;
}

.bowl .fill {
  -webkit-animation-name: fillAction;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: cubic-bezier(0.2, 0.6, 0.8, 0.4);
  -webkit-animation-duration: 4s;
  -webkit-animation-fill-mode: forwards;
}

.bowl .waveShape {
  -webkit-animation-name: waveAction;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 0.5s;
  width: 300px;
  height: 150px;
  fill: var(--c);
}

@-webkit-keyframes fillAction {
  0% {
    -webkit-transform: translate(0, 150px);
  }
  100% {
    -webkit-transform: translate(0, var(--h));
  }
}

@-webkit-keyframes waveAction {
  0% {
    -webkit-transform: translate(-150px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
  }
}

.litres {
  color: $primaryColor;
  font-size: 17px;
  font-weight: 600;
  margin-top: 7px;
}

.small_card.inner_tank_card {
  height: 148px;
  margin-left: 34px;
  margin-top: 17px;
}

.volume_info {
  border-bottom: 1px solid #b9b8b8;
  padding: 10px;
}

.flex___div {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.empty_bg {
  background: #fefff2;
}

.offline_bg {
  background: #fff3f2;
}

.product_summary__wrapper {
  height: 100%;
  min-height: 400px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
  background: $whiteColor;
}

.product_summary_header {
  margin: 0px;
  padding: 0px;
  height: 70px;
  width: 100%;
  background: var(--c);
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    font-size: 22px;
    color: $whiteColor;
    margin: 0 !important;
  }
}

.tank__header {
  height: 20px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.tank__header__Wrapper {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.time__stamps {
  color: grey;
  font-size: 12px;
  font-weight: 600;
}

.profile__section__outer_wrapper {
  color: $primaryColor !important;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
  background: $whiteColor;
  .account__header__banner {
    background: $whiteColor;
    min-height: 150px;
    padding: 0 0 20px 0;
  }
  .account_Settings_profile_details_section_row {
    display: flex;
    margin-left: 30px;
    .camera_icon {
      position: absolute;
      top: 31px;
      left: 29px;
      background: white;
      width: 39px;
      padding-left: 4px;
      padding-top: 6px;
      border-radius: 5px;
      padding-bottom: 3px;
      cursor: pointer;
      i.fa.fa-camera {
        font-size: 28px;
        color: $primaryColor;
      }
    }
    .account_Settings_profile_details_section_first_row {
      flex: 0 0 10%;
      position: relative;
      .profile__pic {
        position: absolute;
        top: -48px;
        left: 0;
        width: 103px;
        height: 97px;
      }
    }
    .account_Settings_profile_details_section_second_row {
      flex: 0 0 60%;
      small {
        color: grey;
        font-size: 18px;
      }
    }
  }
  .account_settings_banner {
    margin: 0 auto;
    width: 100%;
    min-height: 100px;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .banner__text_section {
      h3 {
        color: $whiteColor;
        align-self: center;
        height: 100%;
        font-family: "Montserrat", sans-serif;
      }
    }
  }
  .account_Settings_profile_details_section {
    width: 98%;
    margin-left: 16px;
  }
  .profile__form_section {
    .profile__edit_form_section {
      -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
      padding: 20px;
      background: $whiteColor;
    }
    .profile__change_password_form_section {
      -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
      padding: 20px;
      background: $whiteColor;
    }
    .left-section {
      section {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
  .remove_underline {
    text-decoration: none !important;
  }
  label {
    color: $greyTextColor;
  }
  .details_input {
    input {
      width: 60%;
      border: none;
      color: $primaryColor !important;
      &:focus {
        outline: none !important;
      }
      &.check {
        width: 20px !important;
      }
    }
  }
  .details_form {
    padding-left: 44px;
    padding-right: 149px;
  }
}

.audit-sales-card {
  height: 271px;
  margin-left: -12px !important;
  padding-left: 20px;
  padding-right: 20px;
}

.dumpdata_card {
  height: 142px !important;
}
.image_container {
  display: flex;
  justify-content: flex-end;
}

.dumped_data {
  margin-left: -10px;
  input::placeholder {
    font-size: 12px;
    font-weight: 400;
  }
}


.product_details_card.audit-sales {
  background: #290c53;
  height: 112px !important;
}

.company-dashboard-board {
  .userdetails {
    h4 {
      margin-top: -10px !important;
      margin-bottom: 0;
    }
    span {
      color: #7f8fa4;
      font-size: 10px;
    }
    .btn.purple-btn {
      background: #f4edff 0% 0% no-repeat padding-box;
      color: $primaryColor;
      font-size: 11px;
      font-weight: 700;
      margin-top: 13px;
      width: 67%;
      border-radius: 50px;
      padding: 9px;
    }
  }
  .small__card_content_wrapper {
    background: $whiteColor;
    .map-device-company {
      background: $primaryColor;
      border-radius: 10px;
      width: 100%;
      p {
        font-size: 16px;
        margin-right: 5px;
        margin-top: 5px;
        text-align: left;
        margin-left: 11px;
        margin-bottom: 0;
        font-weight: 800;
      }
      span {
        font-size: 12px;
        margin-left: 11px;
      }
      .map-device-company-btn {
        background: $goldColor;
        font-size: 13px;
        text-align: center;
        margin-top: 14px;
        margin-right: 13px;
      }
    }
  }
  .pumps-company {
    font-size: 14px;
    .btn-pump {
      color: $goldColor;
      cursor: pointer;
      font-size: 12px;
    }
  }
  .offline-pump-card {
    background: $whiteColor;
    box-shadow: 0px 3px 26px #00000017;
    border-radius: 4px;
    .pumps-image {
      margin-top: 20px;
    }
    .pump-location {
      p {
        margin-bottom: 0;
        font-size: 14px;
      }
      .pump-name {
        font-size: 12px;
        margin-top: 2px;
        font-weight: 300;
        color: $primaryColor;
      }
      small {
        font-size: 12px;
        color: #575656;
      }
    }
  }
}

.toggler-card {
  margin-left: 13px;
  width: 97% !important;
  p {
    color: $greyTextColor;
    margin-bottom: 0;
    font-size: 11px;
    margin-top: 4px;
  }
  .toggler-button {
    float: right;
    margin-top: -34px;
    display: flex;
    margin-right: 35px;
  }
}
.dark-mode {
  background-color: black;
}

.pumpstatus_card {
  background: $primaryColor;
  height: 134px;
  .dashboard__card__header {
    margin-bottom: 0;
  }
}

.pump-status {
  cursor: pointer;
  height: 135px;
  p,
  small {
    color: $primaryColor;
  }
}

.devices-card {
  .device-header {
    h5 {
      color: $primaryColor;
      font-size: 16px;
    }
    p {
      color: $goldColor;
      font-style: italic;
      font-size: 10px;
      margin-top: 25px;
    }
  }
  .transactionc_card {
    background: $primaryColor;
    border-radius: 10px;
    p {
      color: $goldColor;
      font-weight: 600;
    }
  }
}

.device_details_card {
  .small_card {
    height: auto;
    .card_border {
      box-shadow: 0px 3px 3px #57565640;
      border: 1px solid #575656;
      border-radius: 10px;
      opacity: 1;
      h5 {
        margin-top: 22px;
        color: $primaryColor;
      }
      p {
        color: $goldColor;
        margin-top: 30px;
        font-size: 16px;
        font-style: italic;
        margin-bottom: 0;
      }
      .flex_card {
        display: flex;
        justify-content: space-between;
        h5 {
          margin-top: 19px;
          font-size: 16px;
          font-style: italic;
        }
        .resolve-btn {
          height: 32px;
          width: 100px;
          background: #e5fcf3;
          box-shadow: 0px 3px 26px #00000017;
          text-align: center;
          border-radius: 10px;
          font-size: 11px;
          padding: 8px;
          margin-right: 52px;
          margin-top: 14px;
          color: #00e38c;
        }
      }
    }
  }
}

.user_details {
  .product_details_card {
    padding: 50px 12px;
  }
  h6,
  h5,
  p {
    color: $primaryColor;
  }
  .image {
    margin-top: 27px;
}
  .primary_btn {
    border-radius: 7px !important;
    width: 53%;
    background: #EDF6FF !important;
    color: #290C53 !important;
}
.btn_theme {
  color: $goldColor !important;
}
  .card {
    border-radius: 30px;
    .branch {
      min-height: 360px !important;
    }
    .roles {
      min-height: 360px !important;
    }
    .card-body {
      padding: 0 !important;
      .resolve-btn {
        width: 69px;
        background: #e5fcf3;
        box-shadow: 0px 3px 26px #00000017;
        text-align: center;
        border-radius: 10px;
        font-size: 11px;
        padding: 8px;
        color: #00e38c;
      }
      .red-btn {
        background: rgba(227, 0, 23, 0.1);
        box-shadow: 0px 3px 26px #00000017;
        color: #E30017;
        text-align: center;
        border-radius: 10px;
        font-size: 15px;
      }
      .btn.disabled {
        background: #E7E7E8 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 26px #00000017;
        border-radius: 10px;
        opacity: 0.5;
        color: gray;
        padding: 8px;
        font-size: 12px;
        width: 69px;
        cursor: not-allowed;
    }
      .card-title {
        border-radius: 30px 30px 0 0;
        background: #edf6ff;
        text-align: center;
        padding: 20px;
        color: $primaryColor;
        margin-bottom: 0 !important;
        transform: titlecase;
      }
      .card-text {
        height: 78px;
        display: flex; 
        align-items: center;
        justify-content: space-between;
        &.card-text-center {
          justify-content: space-around;
        }
        &.card-text-border-left {
          border-right: 1px solid #dee2e6;
          border-left: 1px solid #dee2e6
        }
        h6 {
          margin-bottom: 0;
        }
        p {
          margin-bottom: 0;
        }
      }
      .border-bottom-verical {
        transform: rotate(90deg);
        border-bottom: 1px solid #dee2e6 !important;
        width: 58%;
        position: absolute;
        left: 120px;
        top: 236px;
      }
      .user-name {
        color: #0B2257;
      }
      .no_managing {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        h5 {
          color: #cecece
        }
      }
    }
  }
}

.users_edit {
  .product_details_card {
    padding: 15px 12px;
  }
  .primary_btn {
    margin-top: 33px !important;
     border-radius: 8px !important;
}
  .icon_wrapper {
    border-radius: 100px;
    padding: 45px;
  }
  .colour_one {
    background: #EDF6FF !important;
    color: $primaryColor;
  }
  .colour_two {
    background: #F4E7C7 !important;
    color: $primaryColor,
  }
  .colour_three {
    background: rgb(226, 255, 220);
    color:#25ED00 !important;
    border: 1px solid #86DC76 !important;
  }
}

.mapusersdetails {
  width: 94% !important;
  .card_height {
    height: 474px !important;
    border-radius: 5px !important;
}
.bg-section {
  background: #EDF6FF;
  height: 478px;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}
}
// Mobile Responsiveness
@media screen and (max-width: 575px) {
  .navbar-nav .dropdown-menu {
    margin-left: -54px;
  }
  section.image_section.col-md-7 {
    display: none;
  }
  .full__row_section {
    width: 92%;
  }
  .dashboard__cards__wrapper {
    flex-flow: column wrap !important;
  }
  .small_card:first-child {
    margin-top: 0px !important;
  }
  .epump-color {
    color: $primaryColor !important;
  }
  .small_card {
    margin-left: 12px;
    width: 90%;
    margin-top: 12px;
  }
  .active__tab__link {
    font-size: 14px !important;
  }
  .small__card_content_wrapper_cus {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: column wrap;
  }
  .centralize {
    margin: 0 auto;
  }
  a.create_btn {
    margin-top: 0 !important;
    margin-left: 25px;
    margin-bottom: 30px;
  }
  .mail_card {
    margin: 12px;
  }
  .center_div {
    width: 90% !important;
  }
  .margin-top-center-div {
    margin-top: 54px;
  }
  .pattern_sec {
    height: 117px;
  }
  .remove_padding-right {
    margin-top: 10px;
  }
  .dashboard__card.small_card.align-center {
    height: auto;
  }
  .large_card {
    margin-top: 19px;
  }
  .pumps_probe {
    display: flex;
    flex-direction: column;
  }
  .remove_pumps_margin {
    margin-right: 0 !important;
  }

  .branch_card.dashboard_branch_card,
  .mobile_responsiveness {
    height: 100% !important;
    width: 100%;
  }
  .mobile_responsiveness {
    height: 80% !important;
  }
  .product_details_card.mt-3 {
    margin-top: 20px !important;
    height: auto !important;
  }
  .small__card_content_wrapper .map-device-company {
    width: 80% !important;
  }
  .btn.purple-btn {
    width: 46% !important;
  }
  .pumpstatus__card {
    h4 {
      font-size: 16px;
    }
  }
  .border-right-card {
    margin-top: 31px;
  }
  .branch_card .small_card {
    width: 90% !important;
  }
  .small_card.inner_tank_card {
    height: 116px;
    margin-left: 0;
    margin-top: 17px;
    margin-top: 32px !important;
    margin: 0 auto;
  }
  .details_form {
    padding-right: 0px !important;
  }
  .dumped_data, .dumpdata_card {
    width: 93% !important;
  }
  .account_Settings_profile_details_section_row {
    margin-top: 19px;
  }
  .tanksales {
    width: 80% !important;
    text-align: center;
    margin-top: -50px !important;
    margin: 0 auto;
  }
  .input_margin {
    margin-bottom: 15px;
  }
  .card_border {
    margin-bottom: 20px;
  }
  .transactionc_card {
    height: 94px !important;
  }
  .wallet__transaction {
    height: 200px !important;
    margin: 0 auto;
    width: 100%;
    padding: 25px;
  }
  .voucher_container {
    height: 300px;
  }
  .pump_search h4 {
    font-size: 15px;
  }
  .tank_dip {
    width: 80% !important;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .user_details {
    .border-bottom-verical {
      display: none;
    }
    .branch-list {
      margin-top: 20px;
    }
    .card {
      .roles {
        height: auto !important;
      }
      .branch {
        text-align: center;
      }
    }
    .card-text {
      display: block !important;
      .mobile_resposive__list {
        margin-left: 29px;
        margin-top: 30px;
      }
      .mobile_btn {
        margin-right: 43px !important;
      }
    }
    .user-contact {
      text-align: center;
    }
  }
}

.product_sales_flex_card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #f4ebeb7d;
  .product_sales_flex_card_item_first {
    width: 10%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #f4ebeb7d;
    div {
      color: $primaryColor !important;
      font-weight: 600;
      font-size: 15px !important;
    }
  }
  .product_sales_flex_card_item {
    width: 18%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #f4ebeb7d;
    div {
      font-size: 15px !important;
    }
  }
}
.product_sales_flex_card_pump_sales {
  display: flex;
  justify-content: center;
  align-items: center;
  &.first {
    border-bottom: 1px solid #f4ebeb7d;
  }
  &.last {
    border-top: 1px solid #f4ebeb7d;
    .total_text {
      font-size: 15px;
      font-weight: 600;
    }
  }
  .product_sales_flex_card_item {
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #f4ebeb7d;
    div {
      font-size: 15px;
      color: $primaryColor;
    }
  }
}
.product_sales_flex_card_pump {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #f4ebeb7d;
  .product_sales_flex_card_item_first {
    width: 10%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #f4ebeb7d;
    div {
      color: $primaryColor !important;
      font-weight: 600;
      font-size: 15px !important;
    }
  }
  .product_sales_flex_card_item {
    width: 45%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #f4ebeb7d;
    div {
      font-size: 15px !important;
    }
  }
}
.remove-right-padding {
  padding-right: 0px !important;
}

// Pumps
.pump_holder {
  height: 100%;
  min-height: 400px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
  background: $whiteColor;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.pump_header {
  height: 10px;
  width: 100%;
  background: var(--vh);
  // border-top-right-radius: 5px;
  // border-top-left-radius: 5px;
}

.pump_name {
  color: $greyTextColor;
}

.flex_div {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.time_stamps {
  color: grey;
  font-size: 16px;
  font-weight: 600;
}

.clearfix {
  overflow: auto;
}

.volume_info {
  border-bottom: 1px solid rgb(185, 184, 184);
  padding: 10px;
}

.left_div {
  float: left;
}

.vol_sold {
  color: $greyTextColor;
  font-size: 17px;
  padding: 5px;
  font-weight: 400;
}

.right_div {
  float: right;
}

.litres {
  color: $greyTextColor;
  font-size: 17px;
  font-weight: 600;
  margin-top: 7px;
}

.transactions_btn {
  background: $editSecondColor;
  font-size: 16px;
  padding: 10px 32px;
  color: $whiteColor;
  &:hover {
    color: $whiteColor;
  }
}

.probe_transactions_btn {
  background: $darkGreyColor;
  border: 1px solid $darkGreyColor;
  font-size: 16px;
  padding: 10px 10px;
  color: $whiteColor;
  &:hover {
    color: $whiteColor;
  }
}

// Pump Transactions
.pump_trans_mob {
  margin-top: 15px;
}

.pump_transaction_header_1 {
  background: #00aced;
}

.pump_transaction_header_3 {
  background: $primaryColor;
}

.pump_transaction_header_2 {
  background: rgb(194, 97, 34);
}

.pupmp_trans_header {
  margin: 0px;
  padding: 0px;
  min-height: 170px;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  p {
    font-size: 22px;
    color: $whiteColor;
    margin: 0 !important;
  }
}
