@import "colors";
@import "side_nav";
@import "scroll";
@import "ejstable.scss";
@import "paginator.scss";

html {
  overflow-x: hidden;
}

// LOGIN
body {
  height: 100vh;
  overflow-x: hidden;
  font-family: "Nunito", sans-serif;
}
.dropdown-toggle::after {
  border-right: none !important;
  border-bottom: none !important;
  border-left: none !important;
}

* {
  box-sizing: border-box;
}

.page_container {
  height: 100vh;
}

.image_section {
  padding-top: 23px;
  padding-left: 81px;
  padding-bottom: 20px;
  background-color: $whiteColor;
}
.master_layout_navIcon {
  font-size: 20px !important;
  color: $whiteColor;
}
.image_section_text {
  margin: 0 auto;
  width: 80%;
}

.people_image_holder {
  margin: 0 auto;
  width: 55%;
  margin-bottom: 50px;
}

.manage_text {
  color: $primaryColor;
  font-size: 25px;
  font-weight: bold;
}

.automating_text {
  font-size: 15px;
  color: black;
  text-align: center;
}

.people_image {
  width: 100%;
}

.login_container {
  padding-top: 102px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login_header_text {
  color: $whiteColor;
  font-size: 25px;
  font-weight: bold;
}

.form_holder {
  width: 70%;
  flex-direction: column;
  align-items: center;
}

.form_label {
  color: $whiteColor;
  font-size: 18px;
}

.login_text {
  border: 1px solid $primaryColor;
  border-radius: 5px;
  height: 55px;
  width: 100%;
  padding: 15px;
  color: #2e384d;
  font-size: 15px;
}

.login_button {
  width: 100%;
  border-radius: 5px;
  background-color: $goldColor;
  height: 55px;
  color: $primaryColor;
  font-size: 18px;
  font-weight: bold;
  margin-top: 31px;
}

//Dashboard

.full__row_section {
  margin: 0 auto;
  width: 98%;
}

.dashboard__cards__wrapper {
  display: flex;
}

.dashboard__card .small_card .align-center {
  margin-top: 14px !important;
  margin-left: 8px;
}

.small_card {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 22.8%;
  flex: 0 0 32.4%;
  -webkit-box-shadow: 0px 3px 6px #0000000d;
  box-shadow: 0px 3px 6px #0000000d;
  border-radius: 20px;
  opacity: 1;
  background: $whiteColor;
  width: 100%;
  height: 200px;
  margin-right: 15px;
}
.small__card_content_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}
.dashboard__card__header {
  letter-spacing: 0px;
  color: $darkGreyColor;
  opacity: 1;
  font-size: 22px;
  padding-top: 10px;
}
.dashboard__card__header_bottom {
  letter-spacing: 0px;
  color: $darkGreyColor;
  opacity: 1;
  font-size: 31px;
  font-weight: 300;
}

// .dasboard_row {
//   margin: 25px;
// }

.remove_padding-right {
  padding-right: 0px !important;
}
.new_row_section {
  margin: 0 auto;
  width: 97%;
}
.page_title {
  font-size: 19px;
  color: #666666;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 20px;
  font-weight: 100;
}

.fg-success {
  color: $greenColor;
}

.fg-blue {
  color: $blueColor;
}

.fg-danger {
  color: $redColor;
}

//Resolve Payment and USSD
.center_div {
  background: $whiteColor;
  margin: 0 auto;
  position: relative;
  width: 60%;
  height: 500px;
  -webkit-box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.16);
}
.margin-top-center-div {
  margin-top: 120px;
}
.pattern_sec {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
}

.pad_div {
  padding: 10px;
}

.tabs__lists {
  list-style-type: none;
  display: inline;
  padding: 15px;
  text-align: center;
  color: $primaryColor;
}

.pay_header {
  color: $primaryColor;
  font-weight: 700;
  font-size: 13px;
  margin-top: 30px;
}

.input_holder {
  margin: 0 auto;
  width: 50%;
}

.form__input {
  background: $whiteColor 0 0 no-repeat padding-box;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  //   border: 1px solid $primaryColor!important;
  width: 80%;
  height: 50px !important;
  outline-width: 0;
}

.btn_theme {
  background: $primaryColor 0 0 no-repeat padding-box !important;
  color: $whiteColor !important;
  font-size: 13px !important;
  border-radius: 10px;
  -webkit-box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.16);
  width: 150px;
  padding: 11px;
}

.form_content {
  margin-right: 56px;
  margin-left: 50px;
}

//VOUCHER MONITOR
.voucher_container {
  height: 413px;
}

.banner {
  margin: 0 auto;
}
textarea {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  outline-width: 0;
  padding: 10px;
  height: 100px;
  border-radius: 5px;
  background: rgb(251, 251, 251);
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
}
.input__block {
  input {
    width: 100%;
  }
  select {
    width: 100%;
    height: 100% !important;
  }
  height: 40px;
  border-radius: 5px;
  background: rgb(251, 251, 251);
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
  ::placeholder {
    color: rgb(108, 117, 125) !important;
    opacity: 1;
  }
  input {
    border: none;
    outline: none;
    background: transparent;
    height: 100%;
    outline-width: 0;
    padding: 10px;
  }
}
.ep_card {
  padding: 20px;
  background: white;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
  border-radius: 15px;
}

//BANNER TEMPLATE
.large_card {
  flex: 0 30%;
  box-shadow: 0px 3px 6px #0000000d;
  border-radius: 20px;
  opacity: 1;
  width: 100%;
  height: 140px;
}

.icon_wrapper {
  height: 65px;
  width: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.make-row-hundred-percent {
  height: 100%;
}
.yellow {
  background: #fcd462;
  border-radius: 50%;
}

.inner_border_radius {
  background: #f3f2ff;
  border-radius: 25%;
  height: 50px;
  width: 50px;
}

.label:after {
  content: "*";
}
.remove-padding-left {
  margin-top: 15px;
}
.card_inner_wrapper {
  width: 90%;
  padding-top: 57px;
  margin: 0 auto;
  h3 {
    font-size: 20px;
    text-align: center;
  }
}
.dashboard__card.small_card.align-center {
  margin-top: -14px;
  height: 140px;
}
.create_btn {
  margin-top: 36px !important;
}


.margin-top-center-div.ep_card {
  height: auto;
}
.banner-gradient {
  height: 150px;
  border-radius: 15px;
  .title {
    color: white;
  }
}
.hundred-percent-height {
  height: 100%;
}

.card_height {
  height: 277px;
}

.branch_card {
  background: #fff;
  border-radius: 30px;
  opacity: 1;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  margin-top: 10px;
  height: 600px;
  padding: 9px;
  width: 23%;
}

.branch_card {
  .small_card {
    background: #f4edff;
    height: 100%;
    text-align: center;
    width: 100% !important;
  }
  .dashboard__card__header_bottom,
  .dashboard__card__header {
    font-size: 18px;
  }
  .btn_theme {
    width: 248px;
    padding: 11px !important;
    margin-top: 116px !important;
  }
}

.router_link__text:hover {
  text-decoration: none;
}
p.dashboard__card__header {
  font-size: 17px;
}

.product_details_card {
  width: 102% !important;
}

small.dashboard__card__header_bottom {
  font-size: 20px;
}

.title h4 {
  padding-top: 20px;
  padding-left: 29px !important;
  font-size: 17px;
}

.branch_details_font {
  color: $primaryColor;
}

h6.dashboard__card__header {
  font-size: 16px;
}

.border-right {
  margin-top: -17px;
}

.low_tank {
  margin: 20px 5px;
  padding: 10px;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16);
}

.max-lines {
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  height: 1.8em;
  line-height: 1.6em;
}

.clearfix {
  overflow: auto;
}

.right_div {
  float: right;
}

.left_div {
  float: left;
}

.low_tank_name {
  color: $primaryColor;
}

.bowl {
  position: relative;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.5),
    inset 0 -20px 5px 0 rgba(0, 0, 0, 0.2),
    inset -15px 0 5px 0 rgba(0, 0, 0, 0.1),
    inset 15px 0 5px 0 rgba(0, 0, 0, 0.1);
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    transparent 0%,
    transparent 76%,
    rgba(0, 0, 0, 0.65) 100%
  );
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    transparent 0%,
    transparent 76%,
    rgba(0, 0, 0, 0.65) 100%
  );
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 76%,
    rgba(0, 0, 0, 0.65) 100%
  );
  margin: 20px;
}

.bowl:before {
  overflow: hidden;
  border-radius: 50%;
  content: "";
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.5),
    inset 0 -20px 5px 0 rgba(0, 0, 0, 0.2),
    inset -15px 0 5px 0 rgba(0, 0, 0, 0.1),
    inset 15px 0 5px 0 rgba(0, 0, 0, 0.1);
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    transparent 0%,
    transparent 60%,
    rgba(0, 0, 0, 0.65) 81%,
    black 100%
  );
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    transparent 0%,
    transparent 60%,
    rgba(0, 0, 0, 0.65) 81%,
    black 100%
  );
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.65) 81%,
    #000000 100%
  );
  position: absolute;
  width: 150px;
  height: 150px;
  z-index: 2;
  left: 0px;
}

.bowl:after {
  content: "";
  width: 60px;
  border-radius: 50%;
  height: 5px;
  background: #039be4;
  box-shadow: inset 0 0 10px 0 #000;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 0;
  z-index: 2;
}

.bowl .inner {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    transparent 0%,
    transparent 76%,
    rgba(0, 0, 0, 0.65) 100%
  );
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    transparent 0%,
    transparent 76%,
    rgba(0, 0, 0, 0.65) 100%
  );
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 76%,
    rgba(0, 0, 0, 0.65) 100%
  );
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}

.bowl .inner:before {
  content: "";
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  position: absolute;
  right: 40%;
  top: 60%;
  z-index: 2;
  left: 0px;
}

.bowl .inner:after {
  content: "";
  width: 20px;
  height: 40px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  position: absolute;
  right: 30%;
  top: 15%;
  transform: rotate(-20deg);
  z-index: 2;
}

.bowl .fill {
  -webkit-animation-name: fillAction;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: cubic-bezier(0.2, 0.6, 0.8, 0.4);
  -webkit-animation-duration: 4s;
  -webkit-animation-fill-mode: forwards;
}

.bowl .waveShape {
  -webkit-animation-name: waveAction;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 0.5s;
  width: 300px;
  height: 150px;
  fill: var(--c);
}

@-webkit-keyframes fillAction {
  0% {
    -webkit-transform: translate(0, 150px);
  }
  100% {
    -webkit-transform: translate(0, var(--h));
  }
}

@-webkit-keyframes waveAction {
  0% {
    -webkit-transform: translate(-150px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
  }
}

.litres {
  color: $primaryColor;
  font-size: 17px;
  font-weight: 600;
  margin-top: 7px;
}

// Mobile Responsiveness
@media screen and (max-width: 575px) {
  .navbar-nav .dropdown-menu {
    margin-left: -54px;
  }
  section.image_section.col-md-7 {
    display: none;
  }
  .full__row_section {
    width: 92%;
  }
  .dashboard__cards__wrapper {
    flex-flow: column wrap !important;
  }
  .small_card:first-child {
    margin-top: 0px !important;
  }
  .small_card {
    margin-left: 12px;
    width: 90%;
    margin-top: 12px;
  }
  .active__tab__link {
    font-size: 14px !important;
  }
  .small__card_content_wrapper_cus {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: column wrap;
  }
  .centralize {
    margin: 0 auto;
  }
  a.create_btn {
    margin-top: 0 !important;
    margin-left: 25px;
  }
  .mail_card {
    margin: 12px;
  }
  .center_div {
    width: 90% !important;
  }
  .margin-top-center-div {
    margin-top: 54px;
  }
  .pattern_sec {
    height: 117px;
  }
  .remove_padding-right {
    margin-top: 10px;
  }
}
